parameters:
  level: 5
  paths:
    - includes/
    - stklcode-liveticker.php
  ignoreErrors:
    - message: '/^Constant SCLIVETICKER_(BASE|DIR) not found\.$/'
      path: includes/
includes:
- vendor/szepeviktor/phpstan-wordpress/extension.neon
