div.wp-block-scliveticker-ticker ul,
div.wp-block-scliveticker-ajax-ticker ul {
	list-style-type: none;
}

div.wp-block-scliveticker-ticker ul > li.sclt-tick,
div.wp-block-scliveticker-ajax-ticker ul > li.sclt-tick {
	background-color: #f5f5f5;
	list-style-type: none;
	margin: 0.1em;
	padding: 0.1em 0.3em;
}

li.sclt-tick p {
	margin: 0.3em;
}

span.sclt-tick-time {
	color: #002c58;
	font-size: 0.7em;
	font-style: italic;
}

span.sclt-tick-title {
	color: #002c58;
	font-weight: 700;
	margin-left: 0.5em;
}

p.sclt-tick-content {
	margin-top: -0.7em;
	text-indent: 0.5em;
}

ul.sclt-widget {
	list-style-type: none;
	margin-top: -0.5em;
}

ul.sclt-widget li {
	text-align: left;
}

span.sclt-widget-time {
	font-size: 0.7em;
	font-style: italic;
}

span.sclt-widget-content {
	color: #002c58;
	text-indent: 0.2em;
}

span.sclt-widget-content-new {
	color: #800000;
	text-indent: 0.2em;
}

p.sclt-widget-link {
	text-align: right;
}
